body {
    margin: 0;
    font-size: 21px;
}

p {
    letter-spacing: .2ch;
    font-size: 75%;
    line-height: 1.6;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: .5ch;
}

h2 {
    font-size: 36px;
    letter-spacing: .3ch;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 28px;
    letter-spacing: .2ch;
}

header {
    background-color: #096d50;
    color: floralwhite;
    text-align: center;
    padding: 30px 0;
}

.intro {
    width: 50%;
    margin: 0 auto;
    color: #6c757d;
    padding: 1.5em;
}

.intro p {
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 1.5em;
}

.intro h2 {
    font-size: 26px;
    width: 70%;
    margin: auto;
    line-height: 1.6;
}

.my-skills {
    background-color: #9797f8;
    color: #2c2c49;
    padding: 30px 0;
    text-align: center;
    width: 100vw;
    overflow-x: hidden;
}

.columns {
    display: flex;
    width: 100%;
}

.column {
    width: 25%;
    margin: auto;
    padding: 0;
}

.column p {
    width: 75%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .my-skills {
        width: 100%;
    }

    .my-skills h2 {
        width: 75%;
        margin: auto;
    }

    .columns {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .column p {
        line-height: 1.6;
        width: 55%;
    }

    .intro {
        width: 75%;
    }
}